/*Animate images*/
.animate-image {
    position: relative;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.section-photo_img {
width: unset;
}
/* END Animate images*/
