/*Animate images*/
.animate-image {
    position: relative;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.section-photo_img {
object-fit: cover;
width: 100%;
height: auto;
max-height: max-content;
max-width: max-content;
}

/* END Animate images*/
