/*Animate images*/
.animate-image {
    position: relative;
 

}

.right-image-sm_wrp{
   overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
}
.animate-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.section-photo_img {
object-fit: cover;
width: 100%;
height: auto;
max-height: max-content;
max-width: max-content;
}

/* END Animate images*/
